In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("sampleSubmission.csv")

In [3]:
data

          id  label
0          1      0
1          2      0
2          3      0
3          4      0
4          5      0
...      ...    ...
12495  12496      0
12496  12497      0
12497  12498      0
12498  12499      0
12499  12500      0

[12500 rows x 2 columns]

In [4]:
data.head

<bound method NDFrame.head of           id  label
0          1      0
1          2      0
2          3      0
3          4      0
4          5      0
...      ...    ...
12495  12496      0
12496  12497      0
12497  12498      0
12498  12499      0
12499  12500      0

[12500 rows x 2 columns]>

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12500 entries, 0 to 12499
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      12500 non-null  int64
 1   label   12500 non-null  int64
dtypes: int64(2)
memory usage: 195.4 KB

In [6]:
data.describe()

                 id    label
count  12500.000000  12500.0
mean    6250.500000      0.0
std     3608.583517      0.0
min        1.000000      0.0
25%     3125.750000      0.0
50%     6250.500000      0.0
75%     9375.250000      0.0
max    12500.000000      0.0

In [7]:
data.isnull()

          id  label
0      False  False
1      False  False
2      False  False
3      False  False
4      False  False
...      ...    ...
12495  False  False
12496  False  False
12497  False  False
12498  False  False
12499  False  False

[12500 rows x 2 columns]

In [8]:
data.isnull().sum()

id       0
label    0
dtype: int64

In [9]:
data.dtypes[1]

dtype('int64')

In [11]:
data.dtypes[0]

dtype('int64')